<div class='container'>
  <form action='/posts/{{postid}}/newcomment' method='post'>
    <div class="form-group">
      <label for="formGroupExampleInput2">Username</label>
      <input type="text" name='username' class="form-control" id="formGroupExampleInput2" placeholder="user id">
    </div>
    <div class="form-group">
      <input type="textarea" name='text' class="form-control" id="formGroupExampleInput2" placeholder="text goes here">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
